# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
tfenv/

# Logs and model files
*.log
*.txt
*.bin
*.key
*.h5

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# Environment
.env
.env.*

# Pip wheel cache
*.whl
pip-wheel-metadata/

# Other temporary files
*.bak
*.swp
*.tmp


